<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ABOUT</title>
    <style>
        .container-master{
            display: flex;
            justify-content: center;
        }
        .container{
            display: flex;
            justify-content: center;
            width: 50%;
        }
        img{
            width: 100%;
        }
        p{
            font-size: 1.4em;
        }
        .chef{
            width: 50%;
        }
        .about{
            width: 50%;
            padding-left: 10px;
        }
    </style>
</head>
<body>
    <div class="container-master">
        <div class="container">
            <div class="chef">
                <img src="http://static.demilked.com/wp-content/uploads/2019/06/5d08f30f841b3-white-house-chef-andre-rush-5d07495ae2959__700.jpg">
            </div>
            <div class="about">
                <h2>ABOUT AMORES</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas.</p>
                <p> lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
            </div>
        </div>
    </div>
</body>
</html>