<footer>
    <div>
        <h3>AMORES</h3>
        <p>BLA BLA BLA INFO</p>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-linkedin"></a><br/>
        <p>&copy; 2021 Doug M. All rights reserved.</p>
    </div>
</footer>
