<footer>
    <div>
        <h3 class="title footer-title">AMORES</h3>
        <p class="footer-info">170 E 81ST Street, New York, NY | +0001-995-887 | +0002-898-462 | amores@contact.com</p>
        <a  href="https://www.instagram.com/i.mdoug/" class="fa fa-instagram fa-2x"></a>
        <a  href="https://www.linkedin.com/in/imdoug/" class="fa fa-linkedin fa-2x"></a><br/>
        <p class="copy" >&copy; 2021 Doug M. All rights reserved.</p>
    </div>
</footer>
