<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>LOCATION AND HOURS</title>
        <style>
            .map{
                width: 400px;
                height: 200px;
            }
            .master-container{
                display: flex;
            }
            .info{
                margin-left: 250px;
            }
            .info > p{
                font-size: 1.45em;
            }
            .last{
                margin-top: 0;
            }
            p{
                margin-bottom: 0px;
            }
        </style>
    </head>
    <body>
        <div class="master-container">
            <div>
                <h3>WHERE WE ARE</h3>
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021.378157319718!2d-73.95911338490666!3d40.77569984165354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258be7ea30299%3A0x17e65ef1a1d944c4!2sAntonucci%20Cafe!5e0!3m2!1sen!2sus!4v1627313515611!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
            <div class="info">
                <table>     
                    <h3>CONTACT</h3>
                    <tr>
                        <p>Hours:</p>
                        <p>12PM - 10PM</p>
                    </tr>
                    <tr>
                        <p>Address:</p>
                        <p>Amores Restaurant</p>
                        <p class="last">170 E 81ST Street, New York, NY</p>
                    </tr>
                    <tr>
                        <p>Telephone</p>
                        <p>+0001-995-887</p>
                        <p class="last">+0002-898-462</p>
                    </tr>
                    <tr>
                        <p>E-mail:</p>
                        <p>amores@contact.com</p>
                        <p class="last">amores@help.com</p>
                    </tr>
                </table>
            </div>
        </div>  
    </body>
</html>