<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MENU</title>
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');
            header{
                position: fixed;
                top: 0;
                width: 100%;
                display: flex;
                justify-content: center;
                background-color: #fff;
                z-index: 99;
                height: 59px;
                box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
            }
            .navigation{
                display: inline-flex;
                align-items: center;
                justify-content: space-around;
                width: 75%;
                background: white;
                z-index: 98;
            }
            .navigation > a + a{
                font-size: 1em;
                letter-spacing: 1px;
                text-decoration: none;
                color: #000;
            }
            .signin, .btn-logout{
                padding: 5px;
                border: 1px solid black;
                background: #fff;
            }
            .signin:hover,.btn-logout:hover{
                cursor: pointer;
                background-color: black;
                color: #fff;
            }
            #nav-order{
                padding: 6px;
                color: #fff;
                background: #000;
            }
            #nav-order:hover{
                cursor: pointer;
                border: 1px solid #000;
                color: #000;
                background: white;
                padding: 5px;
            }
            .fa-user-circle{
                font-size: 1.5em;
            }
            .logo-nav{
                font-size: 1.5em;
                font-family: 'Josefin Sans', sans-serif;
                letter-spacing: 1px;
                text-decoration: none;
                color: #000;
            }
            .kart{
                padding: 5px 10px;
                border: 1px solid black;
                background: #fff;
            }
        </style>
    </head>
    <body>
        <form  class="logout" action="/sessions?_method=DELETE" method="POST">
            <header>
                <nav class="navigation">
                    <a href="/restaurant" class="logo-nav">AMORES</a>
                    <a href="/restaurant/#home">HOME</a>
                    <a href="/restaurant/#about">ABOUT</a>
                    <% if(currentUser) { %>
                    <a href="/restaurant/#info">LOCATION & HOURS</a>
                    <a href="/restaurant/show">MENU</a>
                    <input class="btn-logout" type="submit" value="LOG OUT">
                    <a href="/users"class="profile" style="color: #000" ><%=currentUser.username%></a>
                    <a href="/sessions/kart" class="kart"><i class="fa fa-shopping-cart" style="color: #000;" style="font-size: 1.5em;"></i></a>
                     <% } else { %>
                        <a href="/restaurant/#menu">MENU</a>
                        <a href="/restaurant/#info">LOCATION & HOURS</a>
                        <a class="signin" href="/sessions">SIGN IN</a>
                        <a id="nav-order" href="/restaurant/show">ORDER NOW</a>
                        <a href="/sessions" class="kart"><i class="fa fa-shopping-cart" style="color: #000;" style="font-size: 1.5em;"></i></a>
                    <% } %>
                   
                </nav>
            </header>
        </form> 
    </body>
</html>