<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MENU</title>
        <style>
            .colunm-one{
                width: 33%;
                margin-right: 2%;
            }
            .colunm-one{
                width: 33%;
            }
            .colunm-one{
                width: 33%;
            }
            hr{
                width: 95%;
              border:  1px dashed rgba(0,0,0,0.3);
            }
            .price{
                display: flex;
            }
            .container-master{
                display: inline-flex;
                width: 90%;
            }
            h2{
                padding-bottom: 20px;
            }

        </style>
    </head>
    <body>
        <div class="container-master">
            <div class="colunm-one">
                <h2>BREAKFAST</h2>
                <div class="info">
                    <h3>YOUNG LEEKS & ASPARGUS</h3>
                    <p>Crispy Black Garlic</p>
                    <div class="price">
                        <hr><a>$19</a>
                    </div>
                </div>
                <div class="info">
                    <h3>FRIED CALAMARI</h3>
                    <p>Mayonnaise and tomato</p>
                    <div class="price">
                        <hr><a>$13</a>
                    </div>
                </div>
                <div class="info">
                    <h3>SHRIMP COCTAIL</h3>
                    <p>Lemon sauce</p>
                    <div class="price">   
                        <hr><a>$14</a>
                    </div>
                </div>
            </div>
            <div class="colunm-one">
                <h2>LUNCH</h2>
                <div class="info">
                    <h3>YOUNG LEEKS & ASPARGUS</h3>
                    <p>Crispy Black Garlic</p>
                    <div class="price">
                        <hr><a>$19</a>
                    </div>
                </div>
                <div class="info">
                    <h3>FRIED CALAMARI</h3>
                    <p>Mayonnaise and tomato</p>
                    <div class="price">
                        <hr><a>$13</a>
                    </div>
                </div>
                <div class="info">
                    <h3>SHRIMP COCTAIL</h3>
                    <p>Lemon sauce</p>
                    <div class="price">   
                        <hr><a>$14</a>
                    </div>
                </div>
            </div>
            <div class="colunm-one">
                <h2>DINNER</h2>
                <div class="info">
                    <h3>YOUNG LEEKS & ASPARGUS</h3>
                    <p>Crispy Black Garlic</p>
                    <div class="price">
                        <hr><a>$19</a>
                    </div>
                    
                </div>
                <div class="info">
                    <h3>FRIED CALAMARI</h3>
                    <p>Mayonnaise and tomato</p>
                    <div class="price">
                        <hr><a>$13</a>
                    </div>
                </div>
                <div class="info">
                    <h3>SHRIMP COCTAIL</h3>
                    <p>Lemon sauce</p>
                    <div class="price">   
                        <hr><a>$14</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>