<div class="menu-container">
    <div class="menu-box">
            <div class="menu-master">
                <div class="menu">
                    <div class="colunm-one">
                        <h2 class="dish-title">BREAKFAST</h2>
                        <div class="info">
                            <h3>YOUNG LEEKS & ASPARGUS</h3>
                            <p>Crispy Black Garlic</p>
                            <div class="price">
                                <hr class="line"><a>$19</a>
                            </div>
                        </div>
                        <div class="info">
                            <h3>FRIED CALAMARI</h3>
                            <p>Mayonnaise and tomato</p>
                            <div class="price">
                                <hr class="line"><a>$13</a>
                            </div>
                        </div>
                        <div class="info">
                            <h3>SHRIMP COCTAIL</h3>
                            <p>Lemon sauce</p>
                            <div class="price">   
                                <hr class="line"><a>$14</a>
                            </div>
                        </div>
                    </div>
                    <div class="colunm-one">
                        <h2 class="dish-title">LUNCH</h2>
                        <div class="info">
                            <h3>YOUNG LEEKS & ASPARGUS</h3>
                            <p>Crispy Black Garlic</p>
                            <div class="price">
                                <hr class="line"><a>$19</a>
                            </div>
                        </div>
                        <div class="info">
                            <h3>FRIED CALAMARI</h3>
                            <p>Mayonnaise and tomato</p>
                            <div class="price">
                                <hr class="line"><a>$13</a>
                            </div>
                        </div>
                        <div class="info">
                            <h3>SHRIMP COCTAIL</h3>
                            <p>Lemon sauce</p>
                            <div class="price">   
                                <hr class="line"><a>$14</a>
                            </div>
                        </div>
                    </div>
                    <div class="colunm-one">
                        <h2 class="dish-title">DINNER</h2>
                        <div class="info">
                            <h3>YOUNG LEEKS & ASPARGUS</h3>
                            <p>Crispy Black Garlic</p>
                            <div class="price">
                                <hr class="line"><a>$19</a>
                            </div>
                            
                        </div>
                        <div class="info">
                            <h3>FRIED CALAMARI</h3>
                            <p>Mayonnaise and tomato</p>
                            <div class="price">
                                <hr class="line"><a>$13</a>
                            </div>
                        </div>
                        <div class="info">
                            <h3>SHRIMP COCTAIL</h3>
                            <p>Lemon sauce</p>
                            <div class="price">   
                                <hr class="line"><a>$14</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="order-div">
        <!-- if the user is not logged in  -->
        <!-- <a class="order" href="/">ORDER NOW</a> -->
        <!-- if there is a user logged in  -->
        <a class="order" href="/restaurant/show">ORDER NOW</a>
    </div>
</div>