<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MENU</title>
        <style>
            nav{
                padding: 20px 0px;
                display: inline-flex;
                justify-content: space-around;
                width: 100%;
            }
            a{
                font-size: 1.5em;
                letter-spacing: 1px;
                text-decoration: none;
                color: #000;
            }
            .reserve{
                margin: -5px 0px;
                padding: 5px;
                border: 1px solid gold;
            }
        </style>
    </head>
    <body>
        <header>
            <nav>
                <a>LOGO</a>
                <a href="home">HOME</a>
                <a href="about">ABOUT</a>
                <a href="menu">MENU</a>
                <a href="info">LOCATION & HOURS</a>
                <a href="#"class="order">ORDER ONLINE</a>
                <a href="#" class="reserve">RESERVE</a>
            </nav>
        </header>
    </body>
</html>