<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>INDEX PAGE</title>
    </head>
    <body>
        <h1>RESTAURANT INDEX PAGE </h1>
        <ul>
            <% for(let i = 0; i < dishes.length; i++){ %>
                <li><a href="/restaurant/<%=dishes[i].id%>"><%=dishes[i].name%></a></li>
                <% } %>
        </ul>
        <nav>
            <a href="/restaurant/new">create new item</a>
        </nav>
    </body>
</html>