<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Footer</title>
    <style>
        footer{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 250px;
            background-color: lightblue;
            color: white;
            background-color: #000;
        }
        a{
            text-decoration: none;
        } a+a{
            margin-left: 2%;
        }
        .fa{
            font-size: 1.5em;
            color: white;
        }
        .fa-instagram:hover{
            color: #f40083;
        }
        .fa-linkedin:hover{
            color: #007bb5;
        }
        div{
            text-align: center;
        }
        h3{
            letter-spacing: 1px;
        }
        p{
            font-size: 1.2em;
        }
    </style>
</head>
<body>
    <footer>
        <div>
            <h3>AMORES</h3>
            <p>BLA BLA BLA INFO</p><br/>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-linkedin"></a><br/>
            <p>&copy; 2021 Doug M. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>