<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');
        body{
            margin: 0;
            font-family: 'Karla', sans-serif;
            overflow-x: hidden;
        }
        .main-container{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 700px;
        }
        .box{
            padding: 50px;
        }
        h1{
            font-family: 'Josefin Sans', sans-serif;
            font-size: 1.5em;
            letter-spacing: 10px;
            margin: 0;
        }
        .back-to-basics{
            padding: 5px;
            text-decoration: none;
            border: 1px solid black;
            background-color: #fff;
            color: #000;
        }
        .back-to-basics:hover{
            background-color: #000;
            color: #fff;
        }
        .back-btn{
            margin-top: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="main-container">
        <div class="box">
            <h1>I'm sorry, this feature is not ready yet, but I'm working on it!</h1>
            <div class="back-btn">
            <a class="back-to-basics" href="/restaurant">BACK TO RESTAURANT</a>
            </div>
        </div>
    </div>
</body>
</html>