@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');
body{
    margin: 0;
    font-family: 'Karla', sans-serif;
    overflow-x: hidden;
}
/*  */
.title{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    letter-spacing: 10px;
    margin-top: 0;
}
/* CAROUSEL */
.carousel-container{
    display: flex;
    justify-content: center;
}
.carousel{
    width: 75%;
    height: 400px;
    background-image: url('https://i.ibb.co/zXmVHdd/top-slideshow.png');
    background-size: cover;
}
/* ABOUT PHOTOS */
.image-left{
    position: relative;
    top: 630px;
    margin-top: -430px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.pepper{
    position: relative;
    left: -150px;
    width: 25%;
    overflow: hidden;
}
.porkchop{
    position: relative;
    left: 100px;
    width: 25%;
    overflow: hidden;
    
}
/* ABOUT */
.about-part{
    margin: 50px 0px -100px 0px;
    display: flex;
    justify-content: center;
}
.about-pic{
    position: relative;
    top: 120px;
    display: flex;
    justify-content: center;
    width: 60%;
}
.chef >img{
    width: 100%;
}
.about > p{
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 1.7;
}
.chef{
    width: 40%;
}
.about{
    padding-top: 3%;
    width: 50%;
    padding-left: 5%;
}
/* MENU HEADLINE */
.menu-headline{
    position: relative;
    top: 80px;
    background: #F2F1EF;
    height: 200px;
    z-index: -1;
}
.headline-img{
    float: left;
    width: 27%;
}
.headline{
    height: 200px;
}
.menu-headliner{
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    top: 290px;
    width: 33%;
    text-align: right;
    font-size: 5em;
    color: #fff;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}
/* MENU */
.colunm-one{ 
    width: 32%;
}
.line{
    position: relative;
    float: left;
    height: 0;
    margin: 0;
    top: 15px;
    width: 70%;
    border: 1px dashed rgba(0,0,0,0.1);
}
.price{
    display: inline-flex;
    width: 100%;
}
.menu{
    display: inline-flex;
    justify-content: center;
    width: 90%;
}
.dish-title{
    font-family: 'Josefin Sans', sans-serif;    
    padding-bottom: 20px;
}
.menu-master{
    display: flex;
    justify-content: center;
    margin: 10px;
    width: 100%;
    padding: 10px;
}
.order{
    margin-top: 100px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    border: 1px solid #000;
    color: #000;
}
.order:hover{
    background-color: #000;
    color: #fff;
}
.menu-box{
    display: flex;
    justify-content: center;
}
.menu-container{
    margin: 0 auto;
    width: 75%;
    padding: 10px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    z-index: 2;
    background: #fff;
}
.info > h3{
    margin-bottom: 0;
}
.info > p{
    /* margin-top: 0; */
    color: #888;
    margin: 0;
}
.price > a{
    font-size: 1.17em;
    margin-left: 5px;
}
/* NYC */
.newyork{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.content{
    position: relative;
    top: 50px;
    display: flex;
    width: 76%;
}
.text-content{
    width: 40%;
    /* text-align: center; */
}
.text-content > div > p{
    width: 90%;
}
.video-content{
    width: 60%;
}
.nyc-text{
   padding-left: 5%;
}
.mini-text{
    display: flex;
    justify-content: center;
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 1.7;
}
/* MINT */
.mint{
    position: relative;
    left: -70px;
    top: 100px;
    margin-bottom: -350px;
    width: 100%;
    height: auto;
}

/* reserve headline */
.headline-reserve{
    position: relative;
    top: 130px;
    height: 200px;
    background-color: #FBF9FA;
    z-index: -1;
}
.reserve-container{
    display: flex;
    z-index: -1;
}
.reserv-text{
    position: relative;
    top: 35px;
    margin-left: 15%;
    font-size: 3em;
    z-index: -1;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}
.reserv-img{
    height: 200px;
    justify-self: right;
    z-index: -1;
}
.reserve-dish{
    float: right;
    width: 57%;
    z-index: -1;
}
/* REVERVE SECTION */
.reserve-section{
    margin: 50px 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 2;
}
section{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
}
#reserve{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 76%;
    height: 150px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}             
select{
    width: 250px;
    height: 40px;
    font-size: 1em;
    padding-inline-start: 5px;
    border: 1px solid black;
}
.date{
    font-size: 1.3em;
    width: 250px;
    height: 35px;
    padding-inline-start: 5px;
    /* margin-bottom: 5px; */
    border: 1px solid black;
    padding: 3.5px 5px 0px 5px;
} 
.reserve-input{
    padding: 11px 40px;
    margin: 0px;
    background-color: #000;
    color: #fff;
    border: 0;
    text-decoration: none;
}
.reserve-input:hover{
    cursor: pointer;
    border: 1px solid black;
    color: black;
    background-color: #fff;
}
.reserve-title{
    color: #fff;

}
/* INFO LOCATION */
.about-section{
    margin: 50px 0px 90px 0px;
    display: flex;
    justify-content: center;
}
.map{
    filter:grayscale(1);
    width: 600px;
    height: 200px;
}
.location{
    display: flex;
}
.location-info{
    padding-top: 10px;
    margin-left: 250px;
}
.location-info > p{
    font-size: 1em;
}
p.last{
    margin-top: 0;
}
tr > p{
    margin-bottom: 0px;
}
.info-text{
    margin: 0px;
    letter-spacing: 1px;
}
.info-title{
    margin-bottom: 0;
    color: #999;
    letter-spacing: 1px;
}
/* FOOTER */
footer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    color: white;
    background-color: #000;
}
footer > a{
    text-decoration: none;
}
footer > a+a{
    margin-left: 2%;
}
.fa{
    font-size: 2em;
    color: white;
    text-decoration: none;
}
.fa +.fa{
    margin-left: 1%;
}
.fa-instagram{
    font-size: 2em;
}
.fa-instagram:hover{
    color: #f40083;
}
.fa-linkedin:hover{
    color: #007bb5;
}
footer > div{
    text-align: center;
}
footer > h3{
    letter-spacing: 1px;
}
footer > p{
    margin: 0;
    font-size: 1.2em;
}
.copy{
    margin-bottom: 0;
    letter-spacing: 1px;
}
.footer-title{
    margin: 10px 0px 0px 0px;
}
.footer-info{
    margin-top: 0;
    letter-spacing: 1px;
}
.order-div{
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

