@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
body{
    margin: 0;
    font-family: 'Karla', sans-serif;
}
.signup-container{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}
form{
    padding: 50px;
    background: #fff;
    font-size: 1.5;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}
h1{
    text-align: center;
}
td{
    font-size: 2em;
}
.button{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
.go-login, .go-signup{
    text-align: center;
}
/* footer */
footer{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    color: white;
    background-color: #000;
}
footer > a{
    text-decoration: none;
}
footer > a+a{
    margin-left: 2%;
}
.fa{
    color: white;
    font-size: 1.5em;
}
.fa-instagram:hover{
    color: #f40083;
}
.fa-linkedin:hover{
    color: #007bb5;
}
footer > div{
    text-align: center;
}
footer > h3{
    letter-spacing: 1px;
}
footer > div > p, footer > div > h3{
    font-size: 1em;
    margin-top: 3px;
    margin-bottom: 0;
}