@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
body{
    margin: 0;
    font-family: 'Karla', sans-serif;
}
.signup-container{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}
.user-signin{
    padding: 50px;
    background: #000;
    font-size: 1.5;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
    color: #fff;
}
.user{
    padding: 50px;
    background: #fff;
    font-size: 1.5;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}
h1{
    text-align: center;
}
td{
    font-size: 1.3em;
}
.button{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
.go-login, .go-signup{
    text-align: center;
}
.signup{
    font-size: 1em;
    font-family: 'Karla', sans-serif;
    background: #fff;
    color: #000;
    border: 1px solid #000;
    padding: 5px; 
}
.signup:hover{
    background: #000;
    color: #fff;
    cursor: pointer;
    border: 1px solid #fff;
}
.joinus{
    background: #000;
    color: #fff;
    padding: 5px;
}
.joinus:hover{
    background: #fff;
    color: #000;
    border: 1px solid #000;
    cursor: pointer;
}
.btn-signup{
    font-family: 'Karla', sans-serif;
    background: #fff;
    color: #000;
    border: 1px solid #000;
    padding: 5px;
}
.btn-signup:hover{
    background: #000;
    color: #fff;
    cursor: pointer;
}
/* footer */
footer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    color: white;
    background-color: #000;
}
footer > a{
    text-decoration: none;
}
footer > a+a{
    margin-left: 2%;
}
.fa{
    font-size: 2em;
    color: white;
    text-decoration: none;
}
.fa +.fa{
    margin-left: 1%;
}
.fa-instagram{
    font-size: 2em;
}
.fa-instagram:hover{
    color: #f40083;
}
.fa-linkedin:hover{
    color: #007bb5;
}
footer > div{
    text-align: center;
}
footer > h3{
    letter-spacing: 1px;
}
footer > p{
    margin: 0;
    font-size: 1.2em;
}
.copy{
    margin-bottom: 0;
    letter-spacing: 1px;
}
.footer-title{
    margin: 10px 0px 0px 0px;
}
.footer-info{
    margin-top: 0;
    letter-spacing: 1px;
}
.title{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    letter-spacing: 10px;
    margin: 0;
}
a{
    text-decoration: none;
    color: #000;
}