<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SIGN UP</title>
    </head>
    <body>
        <h1>SIGN UP</h1>
        <form action="/users" method="POST">
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" name="username" placeholder="username"/></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="password" placeholder="password"/></td>
                </tr>
            </table>
            <input type="submit" class="signup" value="SIGN UP"/>
        </form>
    </body>
</html>